@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

header nav a {
  color: #0f126d;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 25px;
}

header nav .seleccionado {
  border-bottom: solid 2px #0f126d;
}

.historia {
  z-index: 5;
  position: relative;
}

.historia_contenido {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
  margin-left: 20%;
}

.historia_contenido p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

.historia_fondo {
  position: fixed;
  bottom: -120px;
  right: -150px;
  z-index: 0;
}

.historia_nave {
  position: fixed;
  left: 5%;
  top: 10%;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .historia_contenido {
    margin-left: 10%;
  }
  .historia_fondo {
    position: fixed;
    bottom: -180px;
    right: -200px;
    z-index: 0;
  }
  .historia_nave {
    position: fixed;
    left: 2%;
    top: 2%;
    width: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .historia_contenido {
    margin-left: 10%;
  }
  .historia_fondo {
    position: fixed;
    bottom: -180px;
    right: -200px;
    z-index: 0;
  }
  .historia_nave {
    position: fixed;
    left: 2%;
    top: 2%;
    width: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .historia_contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55vh;
    width: 100%;
    margin-left: 0;
  }
  .historia_fondo {
    position: fixed;
    bottom: -350px;
    right: -200px;
    z-index: 0;
  }
  .historia_nave {
    display: none;
  }
}
/*# sourceMappingURL=historia.css.map */